a{
  text-decoration: none;
  color: black;
}

@media all and (min-width: 540px) {
  .account{
    max-width: 700px;
  }
}

.nav-link.active {
  color: rgb(189, 188, 188) !important;
}

.nav-link {
  color: black;
}

.nav-link:hover{
 color: darkcyan;
}